body.frontpage { 
  background: #1C1D1F  url(https://s3.amazonaws.com/visualintrigue-3556/fpbg.png) no-repeat center center fixed;  
  background-color: #1C1D1F;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #ffffff;
  transition: background 1s linear;
}

body.article { 
  background: #FFFFFF  url(https://s3.amazonaws.com/visualintrigue-3556/fpbg.png) no-repeat center center fixed;  
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #ffffff;
  transition: background 1s linear;
  width: 100%;
}

/* Navbar override */
body.frontpage > .navbar, body.article > .navbar, body.portfolio > .navbar {
    background: rgba(0,0,0,0.6) !important;
  }

body.frontpage > nav > ul:nth-child(2) > li.nav-item.dropdown > div,
body.article > nav > ul:nth-child(2) > li.nav-item.dropdown > div {
  background: rgba(0,0,0,0.6) !important;
}

body > nav > ul:nth-child(2) > li.nav-item.dropdown > div {
  background: #292b2c !important;
}

#navbar-main-ddmenu-1 {
    background: rgba(0,0,0,0.6) !important;

}

.navbar a {
    color: #FFFFFF;
}

body.light-bg {
    color: #666666;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    padding-left: 0px;
    padding-right:0px;
}

body.dark-bg {
    color: #ffffff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-left: 0px;
    padding-right:0px;
    width: 100%;
}

.home-pattern {
    /*opacity: .33; */
    background-image: url(/static/images/pattern.png);
    background-repeat: repeat;
    background-attachment: scroll;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#home {
    background: url(https://visualintrigue.com/sites/all/themes/vi/rotator_images/img9998.jpg) no-repeat 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    min-height: 720px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}




.fp-header h1, .fp-header h2, .fp-header h3, .fp-header h4{
    font-family: 'Roboto', sans-serif;
}

.fp-header h1 {
    font-weight: 100;
}

.row {
    margin:0px;
}

.dark-bg {
    background-color: #1c1d1f;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/* force scrollbar */
/*html { overflow-y: scroll; }

body { font-family: sans-serif; }*/

/* ---- grid ---- */

.grid {
  background: #1C1D1F;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/*.grid-sizer,
.grid-item {
  width: 33.333%;
}*/

.grid-sizer, .grid-item { width: 100%; }

@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item { width: 33.33%; }
}


.grid-item img {
  display: block;
  max-width: 100%;
  padding: 5px;
}

.image-body {
  position: relative;
}

.image-body img{
  display: block;
  padding: 5px;
  max-width: 100%;
}

.pinfo, .img-overlay, .story-mobile {
    display: block;
    background-color: rgba(0,0,0,0.65);
    cursor: pointer;
    color: #FFFFFF;
    
}

@media screen and (min-width: 768px) {
  .pinfo, .img-overlay, .story-mobile {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.portfolio-mobile, .story-mobile{
  display: none;
  
}

.pinfo a, .img-overlay a {
  color: #FFFFFF;
  text-decoration: none;
}

.pinfo-button{
    float: right;
}
.pinfo-title{
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    font-size:1.2vw;
}
.button-bar {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    padding-bottom: 5px;
}


.button-bar p {
  font-size: .65rem;
}

.button-bar hr {
  border-top: 1px solid rgba(255, 255, 255, 1.0);
}

ul.pinfo-list {
    padding-left: 40px;
    padding-top: 5px;
}

ul.pinfo-list>li>span {
    display: inline-block;
    width: 30%;
    opacity: 1;
    font-weight: bold;
    color: #FFFFFF;
    font-size:.8vw;
}

ul.portfolio-items>li{
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-left: 5px;
    margin-top: 15px;
    color: #FFFFFF;
}


ul.portfolio-items>li a{
    display: inline-block;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}


ul.portfolio-items>li a i{
    margin-left: 5px;
}

@media screen and (min-width: 768px) {
  ul.portfolio-items>li {
    margin-top: 5px;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  
}

@media only screen and (max-width: 479px) {
   .mobile-hide{ display: block !important; }
}

div.vi-jumbo {
    min-height: 300px;
    padding-top: 0px;
    margin-top 0px;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
}

div.article-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    background-color: #FFFFFF;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
  div.vi-jumbo {
    min-height: 600px;
  }

  div.article-content {
    width: 60%
  }
}



div.vi-jumbo-center {
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    max-width: 600px;
    margin-top: 100px;
    border: 1px solid #ececec;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0,0,0,.34);
    font-size: 4vw; 
}

div.vi-jumbo-article-center>h1 {
  font-size: 4vw;
}

div.vi-jumbo-article-center {
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    max-width: 800px;
    margin-top: 100px;
    border: 1px solid #ececec;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0,0,0,.34);
}

.frosty {
.frosty {
    background-color: rgba(0,0,0,.34);
}

.frosty a{
  color: #FFFFFF;
  text-decoration: None;  
}

.frosty hr {
  border-top: 1px solid rgba(255, 255, 255, 1.0);
}

div.vi-jumbo h1, div.vi-jumbo p{
    margin-left: 10px;
    
}

div.story-spacer {
  height: 10px;
}
