body.frontpage { 
  background: url(http://visualintrigue-vrt547.s3-website-us-west-2.amazonaws.com/92ff9249-ca37-48ed-aa65-c5e0f7a6b66b_1600px.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 55px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #ffffff;
  transition: background 1s linear;
}


body.light-bg {
    padding-top: 55px;
    color: #666666;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    padding-left: 0px;
    padding-right:0px;
}

body.dark-bg {
    padding-top: 55px;
    color: #ffffff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-left: 0px;
    padding-right:0px;
    width: 100%;
}

.home-pattern {
    /*opacity: .33; */
    background-image: url(/static/images/pattern.png);
    background-repeat: repeat;
    background-attachment: scroll;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#home {
    background: url(http://visualintrigue.com/sites/all/themes/vi/rotator_images/img9998.jpg) no-repeat 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    min-height: 720px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.fp-header h1, .fp-header h2, .fp-header h3, .fp-header h4{
    font-family: 'Roboto', sans-serif;
}

.fp-header h1 {
    font-weight: 100;
}

.row {
    margin:0px;
}

.dark-bg {
    background-color: #1c1d1f;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/* force scrollbar */
/*html { overflow-y: scroll; }

body { font-family: sans-serif; }*/

/* ---- grid ---- */

.grid {
  background: #1C1D1F;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/*.grid-sizer,
.grid-item {
  width: 33.333%;
}*/

.grid-sizer, .grid-item { width: 100%; }

@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item { width: 33.33%; }
}


.grid-item img {
  display: block;
  max-width: 100%;
  padding: 5px;
}

.image-body {
  position: relative;
}

.image-body img{
  display: block;
  padding: 5px;
  max-width: 100%;
}

.pinfo, .img-overlay {
    display: block;
    background-color: rgba(0,0,0,0.65);
    cursor: pointer;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .pinfo, .img-overlay {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

}

.pinfo a, .img-overlay a {
  color: #FFFFFF;
  text-decoration: none;
}

.pinfo-button{
    float: right;
}
.pinfo-title{
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    font-size:1.2vw;
}
.button-bar {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.button-bar hr {
  border-top: 1px solid rgba(255, 255, 255, 1.0);
}

ul.pinfo-list {
    padding-left: 30px;
    padding-top: 30px;
}

ul.pinfo-list>li>span {
    display: inline-block;
    width: 30%;
    opacity: 1;
    font-weight: bold;
    color: #FFFFFF;
    font-size:.8vw;
}

ul.portfolio-items>li{
    display: inline-block;
    float: left;
    width: 150px;
    margin-left: 5px;
    color: #FFFFFF;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  
}

@media only screen and (max-width: 479px) {
   .mobile-hide{ display: block !important; }
}

div.vi-jumbo {
    min-height: 600px;
    padding-top: 0px;
    margin-top 0px;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
}

div.vi-jumbo-center {
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    max-width: 600px;
    margin-top: 100px;
    border: 1px solid #ececec;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0,0,0,.34);
    
}

.frosty {
    background-color: rgba(0,0,0,.34);
}

.frosty a{
  color: #FFFFFF;
  text-decoration: None;  
}

.frosty hr {
  border-top: 1px solid rgba(255, 255, 255, 1.0);
}

div.vi-jumbo h1, div.vi-jumbo p{
    margin-left: 10px;
    
}

div.story-spacer {
  height: 10px;
}
