{% include 'header.html' %}

<h1>Randall Svancara</h1>
<p>
    Visual Intrigue is the home for my photography.  Based out of Seattle, I travel the Pacific
    Northwest taking photos and I share some of my best work on this website.  My interest in photography started with a recommendation of a co-worker, Bruce Kinkead to
    learn photography on a Pentax k1000,
    a very simple film camera with match needle exposure. The Pentax K1000 is a film camera, but provided a great platform to learn the basics
    of photography including understanding the principles of light and how to control it through the
    use of aperture, ISO, and the shutter. From this simple platform,
    my passion for landscape photography evolved and continues to evolve with every new adventure. I hope you enjoy
    this site.
</p>
<h1>About This Site</h1>
<p>
    Visual intrigue site started off as a
platform to post my photography as well as stay up to date on technology.  I started this project using Drupal with a Postgresql
database backend and quickly realized that platforms, like Wordpress and Drupal while greate for managing most content have challenges for the following reasons.  First they suffer
from extreme code bloat. Code bloat means that the software and the code that make Wordpress and Drupal function contain
a lot of unecessary execution routines that make the sites slow.  If you dont believe me, compare my load times of this site to 
http://stuckincustoms.com, which is based on Wordpress.  Second both Drupal and Wordpress inherently have performance challenges due to the quantity of slow database interactions they make. A Drupal or Wordpress
instance may make hundreds of database calls and each call introduces additional time to load a page.
Lastly, they follow a cookie cutter recipe that prevents the level of customization I require.  As a result, I have built my own content management
solution that makes sense for my use cases based on Python using a micro-web framework called flask using a scalable, nosql database backend.
The end result is a light and fast website that performs well, can scale and is designed for serving photograpic content.  For those that disagree with me, that is fine, to each their own. If you are 
interested in my site, I publish my code on Github.</p>

<p>
You can find the project on
<a href="https://github.com/rsvancara/vi">github.com</a>.  
</p>
{% include 'footer.html' %}
