{% include 'header.html' %}

<p>
    Visual Intrigue is the home of photography for Randall Svancara.  Based out of Seattle, Randall travels the Pacific
    Northwest taking photos.  Randall's interest in photography started with a recommendation of a co-worker, Bruce Kinkead to learn photography on a Pentax k1000,
    a very simple film camera with match needle exposure. The Pentax K1000 was a simple camera, but provided a great platform to learn the basics
    of photography. From this simple platform, Randall's passion for landscape photography evolved and continues to evolve with every new adventure. We hope you enjoy
    this site.  
</p>


{% include 'footer.html' %}
