{% include 'header.html' %}

<h4>Biography for Randall Svancara</h4>
<p>
    Visual Intrigue is the home for my photography.  Based out of Seattle, I am traveling the Pacific
    Northwest taking photos.  My interest in photography started with a recommendation of a co-worker, Bruce Kinkead to
    learn photography on a Pentax k1000,
    a very simple film camera with match needle exposure. The Pentax K1000 is a film camera
    camera, but provided a great platform to learn the basics
    of photography including understanding the principles of light and how to control it through the
    use of aperture, ISO, and the shutter. From this simple platform,
    my passion for landscape photography evolved and continues to evolve with every new adventure. I hope you enjoy
    this site.
</p>
<h4>About This Site</h4>
<p>
    Visual intrigue site started off as a
platform to post my photography.  I endeavor to create a unique visualization experience that is both desktop and mobile friendly.
I have built this site from scratch and released the source code to the world to use.  I started this project using Drupal with a Postgresql
database backend and quickly realized that platforms, like Wordpress and Drupal just plain suck for the following reasons.  First they suffer
from extreme code bloat.  Second they inherently have performance challenges due to the quantity of slow database interactions they make. And
lastly, they follow a cookie cutter recipe that prevents the level of customization I require.  As a result, I have built my own content management
solution that makes sense for me based on Python using a micro-web framework called flask using a nosql database backend.  The end result
is a light and fast website that performs well, can scale and is designed for serving photograpic content.  

You can find the project on
<a href="https://github.com/rsvancara/vi">github.com</a>.  
</p>
{% include 'footer.html' %}
