{% include 'header.html' %}
<a class="btn btn-primary" href="/article/create">Create Entry</a>

<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>
        <th>Title</th>
        <th>Created</th>
        <th>Updated</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="table-striped">
      {% if articles is not none %}
      {% for article in articles %}
        {% if article['status'] == 'active' %}
        <tr>
            <td style="color: #666666;">{{ article['title'] }}</td>
            <td style="color: #666666;">{% if article['created'] %}{{ article['created'] |datetimefilter}}{% endif %}</td>
            <td style="color: #666666;">{{ article['updated'] |datetimefilter}}</td>
            <td><a class="btn btn-sm btn-primary" href="/article/{{ article['slug'] }}">View</a></td>
            <td><a class="btn btn-sm btn-primary" href="/article/edit/{{ article['slug'] }}">Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="/article/delete/{{ article['slug'] }}">Delete</a></td>      
        </tr>
        {% else %}
        <tr>
            <td style="color: #888888;">{{ article['title'] }}</td> 
            <td style="color: #888888;">{{ article['created'] |datetimefilter}}</td>
            <td style="color: #888888;">{{ article['updated'] |datetimefilter}}</td>
            <td><a class="btn btn-sm btn-primary" href="/article/{{ article['slug'] }}">View</a></td>
            <td><a class="btn btn-sm btn-primary" href="/article/edit/{{ article['slug'] }}">Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="/article/delete/{{ article['slug'] }}">Delete</a></td>
        </tr>        
        {% endif %}
      {% endfor %}
      {% endif %}
      </tbody>
</table>

{% include 'footer.html' %}
