<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Visual Intrigue Photography">
    <meta property="og:url" content="http://vi.photo{{request.path}}">
    <meta property="og:description" content="{{ summary }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="canonical" href="http://vi.photo{{request.path}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/css/tether-theme-arrows.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/site.css" />
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
    <link rel="alternate" href="https://vi.photo/" hreflang="en-us" />
  </head>
  <body class="story">
  {% include 'navbar.html' %}
      
    <div class="container">
      <div class="top-spacer" style="height: 100px;"></div>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">{{article['title']}}</li>
      </ol>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1>{{ title }}</h1>
            <h6>by <a rel="author" href="https://plus.google.com/+RandallSvancara">Randall Svancara</a></h6> 
            <div class="social-media-bar"><div class="g-plusone" data-annotation="inline" data-width="300"></div></div>
            <div class="content-body">
            {{ article['body'] |safe }} 
            </div>
        </div><!-- end column -->
      </div><!--end row-->
    </div><!-- end container--> 
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://vi.photo/articles/{{article['slug']}}"
      },
      "headline": "{{ title }}",
      "datePublished": "{{article['created']}}",
      "dateModified": "{{article['updated']}}",
      "author": {
        "@type": "Person",
        "name": "Randall Svancara"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Visual Intrigue",
        "logo": {
          "@type": "ImageObject",
          "url": "https://vi.photo/logo.jpg",
          "width": 600,
          "height": 60
        }
      },
      "description": "{{summary}}"
    }
    </script>
    {% include '_analytics.html' %}
  </body>
</html>

