    </div>  
      
      <script src="https://code.jquery.com/jquery-2.2.0.min.js" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.js"></script>
      <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" crossorigin="anonymous"></script>
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
      <script>
        jQuery(function($){
            console.log("loading jquery")
        });
        
        tinymce.init({ selector:'textarea#body',
                            height: 500,
                            theme: 'modern',
                            file_picker_types: 'image',
                            file_picker_callback: function(callback, value, meta) {
                              myImagePicker(callback, value, meta);
                            },
                            plugins: ["image, link, media"],
                            toolbar: ["image, link, media"],

                          });
        
        function myImagePicker(callback, value, meta) {
            tinymce.activeEditor.windowManager.open({
                title: 'Image Browser',
                url: '/filebrowser',
                width: 800,
                height: 550,
            },
            {
                oninsert: function (url, objVals) {
                    callback(url, objVals);
                }
            });
        };
      </script>
  </body>
</html>
