{% include 'header.html' %}
<a class="btn btn-primary" href="/blog/create">Create Entry</a>

<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>
        <th>Title</th>
        <th>Collection</th>
        <th>Created</th>
        <th>Updated</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="table-striped">
      {% for blog in blogs %}
        {% if blog['status'] == 'active' %}
        <tr>
            <td style="color: #666666;">{{ blog['title'] }}</td>
            <td style="color: #666666;">{{ blog['collection'] }}</td>
            <td style="color: #666666;">{{ blog['created'] |datetimefilter}}</td>
            <td style="color: #666666;">{{ blog['updated'] |datetimefilter}}</td>
            <td><a class="btn btn-sm btn-primary" href="/photo/{{ blog['slug'] }}">View</a></td>
            <td><a class="btn btn-sm btn-primary" href="/blog/edit/{{ blog['slug'] }}">Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="/blog/delete/{{ blog['slug'] }}">Delete</a></td>      
        </tr>
        {% else %}
        <tr>
            <td style="color: #888888;">{{ blog['title'] }}</td>
            <td style="color: #888888;">{{ blog['collection'] }}</td>
            <td style="color: #888888;">{{ blog['created'] |datetimefilter}}</td>
            <td style="color: #888888;">{{ blog['updated'] |datetimefilter}}</td>
            <td><a class="btn btn-sm btn-primary" href="/photo/{{ blog['slug'] }}">View</a></td>
            <td><a class="btn btn-sm btn-primary" href="/blog/edit/{{ blog['slug'] }}">Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="/blog/delete/{{ blog['slug'] }}">Delete</a></td>
        </tr>        
        {% endif %}
      {% endfor %}
      </tbody>
</table>

{% include 'footer.html' %}
