{% include 'header.html' %}
<a class="btn btn-primary" href="/collection/create">Create Entry</a>

<table class="table table-striped table-bordered">
    <thead class="thead-inverse">
    <tr>
        <th>Title</th>
        <th>Collection</th>
        <th>Created</th>
        <th>Updated</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody class="table-striped">
      {% for collection in collections %}
        {% if collection['status'] == 'active' %}
        <tr>
            <td style="color: #666666;">{{ collection['title'] }}</td>
            <td style="color: #666666;">{{ collection['collection'] }}</td>
            <td style="color: #666666;">{{ collection['created'] |datetimefilter}}</td>
            <td style="color: #666666;">{{ collection['updated'] |datetimefilter}}</td>
            <td><a class="btn btn-sm btn-primary" href="/stories/{{ collection['slug'] }}">View</a></td>
            <td><a class="btn btn-sm btn-primary" href="/collection/edit/{{ collection['slug'] }}">Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="/collection/delete/{{ collection['slug'] }}">Delete</a></td>      
        </tr>
        {% else %}
        <tr>
            <td style="color: #888888;">{{ collection['title'] }}</td>
            <td style="color: #888888;">{{ collection['collection'] }}</td>
            <td style="color: #888888;">{{ collection['created'] |datetimefilter}}</td>
            <td style="color: #888888;">{{ collection['updated'] |datetimefilter}}</td>
            <td><a class="btn btn-sm btn-primary" href="/stories/{{ collection['slug'] }}">View</a></td>
            <td><a class="btn btn-sm btn-primary" href="/collection/edit/{{ collection['slug'] }}">Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="/collection/delete/{{ collection['slug'] }}">Delete</a></td>
        </tr>        
        {% endif %}
      {% endfor %}
      </tbody>
</table>

{% include 'footer.html' %}
