{% include 'header.html' %}
{% from "_formhelpers.html" import render_field %}
<style type="text/css">
    #blog-form input {
        width: 100%
    }
    .mce-edit-area {
        min-height: 500px;
    }
    .drop-area{
        width:100%;
        height:50px;
        border: 1px solid #999;
        text-align: center;
        padding:10px;
        cursor:pointer;
        margin-bottom: 50px;
        border-radius: 5px;
    }
    
    #thumbnail img{
        width:100%;
        /*height:100px;*/
        margin:5px;
    }
    canvas{
        border:1px solid red;
    }
    
    #photo-upload-fieldset label, #photo-upload-fieldset input {
        display: none;
    }
    
    #title {
        width: 100%;
    }
    
    #slug {
        width: 100%;
    }
    
    #keywords {
        width: 100%;
    }
#map_canvas img {
                max-width: none !important;
}
    
</style>
<form action="/photo/edit/{{ id }}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <fieldset>
                <legend>Content</legend>
                {{ render_field(form.body) }} 
            </fieldset>
            <fieldset>
                <legend>Additional Camera Information</legend>
            </fieldset>
        </div>
        <div class="col-md-4">
        <fieldset>
           <legend>General</legend>
           {{ render_field(form.title) }}
           {{ render_field(form.slug) }}
           {{ render_field(form.active) }}
           {{ render_field(form.keywords) }}
           {{ render_field(form.homepage) }}
           {{ render_field(form.portfolio) }}
           {{ render_field(form.displayorder) }}
           {{ render_field(form.collection) }}
           <button id="mapbutton" class="btn btn-large" type="button" name="mapbutton">Set Map Coordinates</button>
           <input id="lat" type="hidden" name="lat" value="{{form.lat.data}}"/>
           <input type="hidden" id="lng" name="lng" value="{{form.lng.data}}" />
        </fieldset>
    
        <fieldset id="photo-upload-fieldset">
            <legend>Photo</legend>
            <div id="thumbnail"><img src="{{ image }}"></img></div>
            <div id="upload" class="drop-area">
            Upload File
            </div>
            {{ render_field(form.photo) }} 
        
        </fieldset>
        {{ form.csrf_token }}
        <input id="newimage" type="hidden" name="newimage" value="{{ form.newimage.data }}" />
        <p><input class="btn btn-primary" type=submit value=Post></p>
        </div>
    </div>
</form>

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% include 'blogfooter.html' %}
