<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/css/tether-theme-arrows.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/site.css" />
    <script src="https://use.fontawesome.com/df0741c26d.js"></script>
  </head>
  <body class="dark-bg">
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/blog/list">Manage Blogs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">LogOut [ {{ current_user.id }} ] <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Log In <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>
      
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 fp-header">
          <img src="/static/images/avatar.jpeg" style="width:200px;height: 200px;" />
        </div>
        <div class="col-sm-5 fp-header">
          <h1>Randall Svancara</h1>
          <p>I am an ambitious outdoor photographer and adventurer</p>
        </div>
        <div class="col-sm-5 fp-header">
          <h3>Portfolios</h3>
          <ul class="list-unstyled pinfo-list portfolio-items">
            <li><i class="fa fa-camera-retro fa-lg"></i>&nbsp;<a href="/portfolio/landscape">Landscape</a></li>
            <li><i class="fa fa-camera-retro fa-lg"></i>&nbsp;<a href="/portfolio/cityscapes">Cityscapes</a></li>
            <li><i class="fa fa-camera-retro fa-lg"></i>&nbsp;<a href="/portfolio/macro">Macro</a></li>
            <li><i class="fa fa-camera-retro fa-lg"></i>&nbsp;<a href="/portfolio/street">Street</a></li>

          </ul>
        </div>
      </div>
      <div style="height: 10px;"></div>
 <div class="grid">
  <div class="grid-sizer"></div>
 
 {% for blog in blogs %}
 {% if 'lrmedium' in blog['files'] %}
  <div class="grid-item" id="{{blog['slug']}}">
    <a href="/photo/{{blog['slug']}}">
      <img data-src="{{baseurl}}{{ blog['files']['medium']['path']}}" src="{{baseurl}}{{ blog['files']['lrmedium']['path']}}" alt="{{blog['title']}}"/></a>
      <div class="pinfo">
        <div class="button-bar">
          <a class="pinfo-title" href="/photo/{{blog['slug']}}">{{blog['title']}}</a>
          <a class="btn btn-secondary btn-sm pinfo-button" href="/photo/{{blog['slug']}}">Read More</a>
        </div>
        {% if 'exif' in blog %}
        <ul class="list-unstyled pinfo-list">
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Camera:</span>
            <span class="pinfo-value">{{ blog['exif']['make'] }}</span>
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Model:</span>
            <span class="pinfo-value">{{ blog['exif']['model'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Exposure Time:</span>
            <span class="pinfo-value">{{ blog['exif']['exposuretime'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Aperture:</span>
            <span class="pinfo-value">{{ blog['exif']['aperture'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">ISO:</span>
            <span class="pinfo-value">{{ blog['exif']['iso'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Focal Length:</span>
            <span class="pinfo-value">{{ blog['exif']['focallength'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Exposure Program:</span>
            <span class="pinfo-value">{{ blog['exif']['exposureprogram'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Exposure Bias:</span>
            <span class="pinfo-value">{{ blog['exif']['exposurebias'] }}</span>            
          </li>
          
        </ul>

        {% endif %}
        
      </div>
  </div>
  {% endif %}
  {% endfor %}

</div>     
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript">
      
    // external js: masonry.pkgd.js, imagesloaded.pkgd.js
    
    // init Isotope
    var grid = document.querySelector('.grid');
    
    var msnry = new Masonry( grid, {
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
    
    imagesLoaded( grid ).on( 'progress', function() {
      // layout Masonry after each image loads
      msnry.layout();
    });
    console.log("Done");
    
    $("div.grid-item").mouseover(function() {
      console.log("mouse me baby");
      console.log($(this).parent().width())
      if ($(this).parent().width() > 479 ) {
        var pinfo = $(this).children('div.pinfo').eq(0);
        pinfo.show();
      }
      
    });
    
    $("div.grid-item").mouseout(function() {
      console.log("mouse out baby");
      var pinfo = $(this).children('div.pinfo').eq(0);
      pinfo.hide();
    });
        

    </script>
      

  </body>
</html>
