      <ul class="navbar-nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://vi.photo/portfolio" id="navbarDropdownMenuLink" data-toggle="dropdown" role="button">
            Portfolio
          </a>
          <div class="dropdown-menu dropdown-inverse" aria-labelledby="navbarDropdown">
            <!--<div id="navbar-main-ddmenu-1" class="dropdown-menu dropdown-inverse" aria-labelledby="navbarDropdownMenuLink">-->
            <a class="dropdown-item" href="/portfolio/landscape">Landscape</a>
            <a class="dropdown-item" href="/portfolio/cityscape">Cityscape</a>
            <a class="dropdown-item" href="/portfolio/macro">Macro</a>
            <a class="dropdown-item" href="/portfolio/street">Street</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">Stories and More <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Randall Svancara <span class="sr-only">(current)</span></a>
        </li>
      </ul>
