    <nav class="navbar navbar-toggleable-md navbar-fixed-top">
      <a class="navbar-brand" href="/"><img style="width:135px;height:130px;" src="/static/images/vi_logo.png" alt="visual intrigue"/></a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right pull-xs-right">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/admin/collection/list">Manage Collections <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/article/list">Manage Articles<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">LogOut [ {{ current_user.id }} ] <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Log In <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}        
      </ul>
    </nav>
