<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - microblog</title>
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Visual Intrigue Photography">
    <meta property="og:url" content="http://vi.photo{{request.path}}">
    <meta property="og:description" content="Visual Intrigue Photography">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/site.css" />
    <link rel="alternate" href="https://visualintrigue.com/" hreflang="en-us" />
    <link rel="alternate" href="https://vi.photo/" hreflang="en-us" />
    <script src="https://use.fontawesome.com/df0741c26d.js"></script>
    <style>

      /* Navbar override */
      body.frontpage > .navbar, body.article > .navbar, body.portfolio > .navbar {
        background: rgba(0,0,0,0.6) !important;
      }

      body.frontpage > nav > ul:nth-child(2) > li.nav-item.dropdown > div,
      body.article > nav > ul:nth-child(2) > li.nav-item.dropdown > div {
        background: rgba(0,0,0,0.6) !important;
      }

      .dropdown-inverse {
        background-color: rgba(0,0,0,0.6) !important;
      }

      body > nav > ul:nth-child(2) > li.nav-item.dropdown > div {
        background: #292b2c !important;
      }

      .navbar a {
        color: #FFFFFF;
      }
    </style>

    {% include '_analytics.html' %}
  </head>
  <body class="dark-bg">
  {% include 'navbar_dark.html' %}
    <div class="container-fluid">
      <h2>{{portfolio.title()}} Photography</h2>
      <div class="grid">
        <div class="grid-sizer"></div>
 {% for blog in blogs %}
 {% if 'lrmedium' in blog['files'] %}
  <div class="grid-item" id="{{blog['slug']}}">
    <a href="/photo/{{blog['slug']}}">
      <img data-src="{{baseurl}}{{ blog['files']['medium']['path']}}" src="{{baseurl}}{{ blog['files']['lrmedium']['path']}}" alt="{{blog['title']}}"/></a>
      <div class="pinfo portfolio-mobile">
        <div class="button-bar">
          <a class="pinfo-title" href="/photo/{{blog['slug']}}">{{blog['title']}}</a>
        </div>
        <hr />
        {% if 'exif' in blog %}
        <ul class="list-unstyled pinfo-list">
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Camera:</span>
            <span class="pinfo-value">{{ blog['exif']['make'] }}</span>
          </li>
          <!--<li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Model:</span>
            <span class="pinfo-value">{{ blog['exif']['model'] }}</span>            
          </li>-->
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Exposure Time:</span>
            <span class="pinfo-value">{{ blog['exif']['exposuretime'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Aperture:</span>
            <span class="pinfo-value">{{ blog['exif']['aperture'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">ISO:</span>
            <span class="pinfo-value">{{ blog['exif']['iso'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Focal Length:</span>
            <span class="pinfo-value">{{ blog['exif']['focallength'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Exposure Program:</span>
            <span class="pinfo-value">{{ blog['exif']['exposureprogram'] }}</span>            
          </li>
          <li>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="pinfo-label">Exposure Bias:</span>
            <span class="pinfo-value">{{ blog['exif']['exposurebias'] }}</span>            
          </li>
          
        </ul> 
        {% endif %}
        
      </div>
  </div>
  {% endif %}
  {% endfor %}
      </div>
    </div> 
    <!-- Jquery nuff said -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript">
      
    // external js: masonry.pkgd.js, imagesloaded.pkgd.js
    
    // init Isotope
    var grid = document.querySelector('.grid');
    
    var msnry = new Masonry( grid, {
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
    
    imagesLoaded( grid ).on( 'progress', function() {
      // layout Masonry after each image loads
      msnry.layout();
    });
    console.log("Done");
    
    $("div.grid-item").mouseover(function() {

      console.log($(this).parent().width())
      if ($(this).parent().width() > 768 ) {
        var pinfo = $(this).children('div.pinfo').eq(0);
        pinfo.show();
      }
      else
      {
        var pinfo = $(this).children('div.pinfo').eq(0);
        pinfo.hide();
      }
      
    });
    
    $("div.grid-item").mouseout(function() {
      console.log("mouse out baby");
      var pinfo = $(this).children('div.pinfo').eq(0);
      pinfo.hide();
    });

    $("div.grid-item").click(function() {
      var id = $(this).attr('id');
      console.log("/photo/"+id);
      window.location.href = "/photo/" + id;
    });                  
    </script>
      

  </body>
</html>
