<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Visual Intrigue Photography">
    <meta property="og:url" content="http://vi.photo{{request.path}}">
    <meta property="og:description" content="Visual Intrigue Photography">
    <meta property="og:image" content="{{baseurl}}{{ firstphoto['files']['lrmedium']['path']}}"> 
    <meta property="fb:app_id" content="1751936878442795" />
    <meta property="fb:admins" content="randall.svancara">
    <meta property="og:title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="canonical" href="http://vi.photo{{request.path}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/css/tether-theme-arrows.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/site.css" />
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
    <link rel="alternate" href="https://vi.photo/" hreflang="en-us" />
    <link rel="alternate" href="https://visualintrigue.com/" hreflang="en-us" />
  </head>
  <body class="story">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1751936878442795";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
  {% include 'navbar.html' %}
      
    <div class="container">
      <div class="top-spacer" style="height: 100px;"></div>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">{{collection['title']}}</li>
      </ol>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1>{{collection['title']}}</h1>
            <h6>by <a rel="author" href="/about">Randall Svancara</a></h6> 
            <div class="social-media-bar">
              <div class="social-container" style="min-width: 50px;height: 40px;margin-top:10px;display: inline-block;">
              <div class="g-plusone" data-annotation="inline" data-width="300"></div>
              </div>
              <div class="social-container" style="height: 40px;display:inline-block">
              <div class="fb-like" data-href="https://vi.photo/stories/{{ collection['slug'] }}" data-width="200px" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
              </div>
            </div>
            <div class="content-body">
            {{ collection['body'] |safe }}
            </div>
            <div class="story-spacer"></div>
            {% set counter = 0 -%} 
            {% for photo in photos %}
            {% set counter = counter + 1 %}
            <h2>{{photo['title']}}</h2>
            <div class="content-body">
              {{ photo['body']|safe }}
            </div><!-- end content body -->
            <div class="image-body">
              <img 
                  data-src="{{baseurl}}{{ photo['files']['medium']['path']}}"
                  src="{{baseurl}}{{ photo['files']['lrmedium']['path']}}"
                  alt="{{photo['title']}}" style="width:100%"/>
              <div id="{{photo['slug']}}" class="img-overlay story-mobile">
                <div class="button-bar">
                  <a class="pinfo-title" href="/photo/{{photo['slug']}}">{{photo['title']}}</a>
                  <hr style="color: #FFFFFF; width: 100%;"/>
                </div>
                
                {% if 'exif' in photo %}
                <ul class="list-unstyled pinfo-list">
                  <li>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span class="pinfo-label">Camera:</span>
                    <span class="pinfo-value">{{ photo['exif']['make'] }}</span>
                  </li>
                  <!--<li>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span class="pinfo-label">Model:</span>
                    <span class="pinfo-value">{{ photo['exif']['model'] }}</span>            
                  </li>-->
                  <li>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span class="pinfo-label">Exposure Time:</span>
                    <span class="pinfo-value">{{ photo['exif']['exposuretime'] }}</span>            
                  </li>
                  <li>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span class="pinfo-label">Aperture:</span>
                    <span class="pinfo-value">{{ photo['exif']['aperture'] }}</span>            
                  </li>
                  <li>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span class="pinfo-label">ISO:</span>
                    <span class="pinfo-value">{{ photo['exif']['iso'] }}</span>            
                  </li>
                  <li>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span class="pinfo-label">Focal Length:</span>
                    <span class="pinfo-value">{{ photo['exif']['focallength'] }}</span>            
                  </li>
                  <li>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span class="pinfo-label">Exposure Program:</span>
                    <span class="pinfo-value">{{ photo['exif']['exposureprogram'] }}</span>            
                  </li>
                  <li>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span class="pinfo-label">Exposure Bias:</span>
                    <span class="pinfo-value">{{ photo['exif']['exposurebias'] }}</span>            
                  </li>
                </ul>
                {% endif %}
              </div><!-- end image overlay -->
            </div><!-- end image body -->
            <div class="story-caption" style="background-color: #0e0e0e;padding:5px;font-size:.8em;color:#FFFFFF;min-height:20px;">
            Figure {{ counter }} -
            {% if "caption" in photo %}
              {{ photo['caption'] }}
            {% endif %}
            </div>
            <div class="story-spacer" style="height:20px"></div> 
            {% endfor %}
        </div><!-- end column -->
      </div><!--end row-->
    </div><!-- end container--> 
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
    
    $("div.image-body").mouseover(function() {
      console.log("mouse me baby");
      console.log($(this).parent().width())
      if ($(this).parent().width() > 600 ) {
        var ibody = $(this).children('div.img-overlay').eq(0);
        console.log("showing")
        ibody.show();
      }
      else
      {
        var ibody = $(this).children('div.img-overlay').eq(0);
        ibody.hide();
      }
    });
    
    $("div.image-body").mouseout(function() {
      console.log("mouse out baby");
      var ibody = $(this).children('div.img-overlay').eq(0);
      ibody.hide();
    });
    
    $("div.image-body").click(function() {
      var ibody = $(this).children('div.img-overlay');
      var id = ibody.attr('id');
      window.location.href = "/photo/" + id;
    });
    
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://vi.photo/stories/{{collection['slug']}}"
      },
      "headline": "{{collection['title']}}",
      "image": {
        "@type": "ImageObject",
        "url": "{{baseurl}}{{firstphoto['files']['medium']['path']}}",
        "height": {{firstphoto['files']['medium']['height']}},
        "width": {{firstphoto['files']['medium']['width']}}
      },
      "datePublished": "{{collection['created']}}",
      "dateModified": "{{collection['updated']}}",
      "author": {
        "@type": "Person",
        "name": "Randall Svancara"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Visual Intrigue",
        "logo": {
          "@type": "ImageObject",
          "url": "https://example.com/logo.jpg",
          "width": 600,
          "height": 60
        }
      },
      "description": "{{description}}"
    }
    </script>
    {% include '_analytics.html' %}

  </body>
</html>

